# __pycache__
# *.pyc
# *.pyo
# *.pyd
# .Python
# env
# venv
# .env
# .git
# .gitignore



__pycache__/
*.pyc
.env
.git
.venv
node_modules/
serviceAccountKey.json
.cache/
models/
public/recordings/
*.m4a
*.wav