fastapi
uvicorn
python-multipart
websockets
# Library Text Matching
thefuzz
python-Levenshtein
# Library Surah Splitter
pydub
loguru
rich
cyclopts
whisperx>=3.4.2
# Dependensi AI (CPU)
torch --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu
faster-whisper
numpy==1.26.4