# fastapi
# uvicorn
# numpy
# faster_whisper
# torch
# dotenv
# uvicorn[standard]
# websockets
# pydub

fastapi
uvicorn[standard]
numpy<2.0.0
faster_whisper
huggingface_hub
python-dotenv
websockets
pydub
torch --index-url https://download.pytorch.org/whl/cpu